.shopping-cart {
  background-color: #f4f4f4;
  font-family: $default-font;
  display: flex;
  flex-direction: row;
  padding-bottom: 15em;
  h1 {
    font-size: 2em;
  }
  h3 {
    text-align: right;
    margin-right: 1em;
    margin-bottom: 0.8em;
  }
  .cart-index {
    background-color: white;
    border-radius: 0.1em;
    flex-grow: 1;
    margin: 2em;
    margin-right: 0em;
    padding: 1.5em;
  }
  .cart-total {
    background-color: white;
    border-radius: 0.1em;
    margin: 2em;
  }
}

.cart-item {
  position: relative;
  display: flex;
  flex-direction: row;
  border-top: 1px solid gray;
  padding: 2em;
  img {
    max-width: 13em;
    max-height: 13em;
    width: auto;
    height: auto;
  }
  h3 {
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    right: -0.5em;
  }
  .cart-product-details {
    margin-left: 2em;
    width: 30em;
    .link-product-name {
      text-decoration: none;
      color: $almost-black;
    }
      h2 {
        font-size: 1.3em;
        letter-spacing: 0.03em;
        margin-bottom: 2em;
      }
    }
    .in-stock {
      font-size: 0.9em;
    }
    .gray {
      font-size: 0.8em;
      line-height: 1.8em;
      letter-spacing: 0.04em;
    }
    .update-cart {
      display: flex;
      flex-direction: row;
      margin-top: 2em;
      input[type="number"] {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 3em;
        padding: 0.4em;
      }
      label {
        letter-spacing: 0.1em;
      }
    }
  }

.update-quantity {
  border: none;
  border-radius: 0.7em;
  padding: 0.4em;
  font-size: 0.8em;
  margin-right: 1.5em;
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: 0 1px lightgrey;
    transform: translateY(1px);
  }
}

.delete-cart-item {
  border-left: 2px solid lightgrey;
  font-size: 0.9em;
  margin: 0.7em;
  padding-left: 1.5em;
  color: #0066C0;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.subtotal-cart {
  border-top: 1px solid gray;
  padding-top: 1em;
  font-size: 1.3rem;
  text-align: right;
}

.subtotal {
  border: none;
  margin-bottom: 1em;
}

.cart-total {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  height: 12em;
}

.proceed-to-checkout {
  opacity: 0.4;
  background: linear-gradient(#ffdb82, #f0bf43);
  margin-top: 2em;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
}

.empty-cart-page {
  background-color: #f4f4f4;
  padding-top: 1em;
  padding-bottom: 23em;
  font-family: $default-font;
  
}

.empty-cart {
  display: flex;
  flex-direction: row;
  background: white;
  margin: 5em;
  padding: 5em;
  border-radius: 1em;
  img {
    width: 8em;
    height: auto;
    margin-right: 2em;
  }
}

.empty-cart-text {
  line-height: 1.3;
  h1 {
    font-size: 1.8em;
    margin-bottom: 1em;
  }
}

.link-to-home {
  text-decoration: none;
  color: #0094b5;
  &:hover {
    text-decoration: underline;
    color: darkorange;
  }
}

.cart-count {
  color: orange;
  position: relative;
  bottom: 1.8em;
  left: 1.9em;
  font-size: 1.3em;
}

@media (max-width: 1200px) {
  .shopping-cart h1 {
    font-size: 1.5em;
  }

  .shopping-cart .cart-total {
    margin: 0.5em;
    margin-top: 2em;
  }

  .cart-item h3 {
    font-size: 1.3em;
  }

  .cart-item .cart-product-details {
    width: 25em;
    h2 {
      font-size: 1.2em;
    }
  }

  .subtotal-cart {
    font-size: 1rem;
  }

  .cart-total {
    padding: 1em;
    height: 13em;
  }
}