.product-index {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 1.7em;
  margin: 7em;
  padding-bottom: 3em;
  .no-results {
    margin: 3em;
  }
  .product-index-item {
    text-decoration: none;
    display: grid;
    background-color: white;
    text-decoration: none;
    padding: 2.5em 2em 3em 2em;
    border-bottom: 2px solid lightgrey;
    .product-item {
      text-decoration: none;
      font-size: 1.2em;
      letter-spacing: 0.1em;
      margin-bottom: 2em;
    }
    img {
    object-fit: cover;
    width: 100%;
    height: 18em;
    margin-bottom: 1.5em;
    }
  }
}

.price {
  font-size: 1.3em;
}

.shipping-info {
  font-size: 0.8em;
  letter-spacing: 0.05em;
  line-height: 1.3em;
  margin-top: 1.5em;
}

#time-logo {
  width: 20%;
  height: auto;
  float: left;
  margin-right: 0.3em;
  margin-top: 10px;
}

.star-ratings-css-index {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 1.5em;
  height: 25px;
  width: 100px;
  margin: 0;
  margin-bottom: 0.5em;
  position: relative;
  
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  
  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 3.5em;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

.rating-index {
  font-size: 0.9em;
  color: gray;
  margin-bottom: 1em;
}